<h1> Post A Comment </h1>


<%= form_for [@post, @comment] do |f| %>

<p>
<%=f.label "Name"%> <br>
<%= f.text_field :user_name%>
</p>

<p>
<%=f.label "Email" %><br>
<%=f.text_field :user_email %>
</p>

<p>Enter your comment <br>
<%=f.text_area :user_comment %>
</p>

</div>
<%end%>

<%= form_for @comment, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
